.bg-light {
    background-color: #0062cc!important;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-left: 0rem;
    font-size: -webkit-xxx-large;
    line-height: inherit;
    white-space: nowrap;
    word-spacing: 0em;
}
body {
    margin: 0;
    font-family: serif;
    font-size: large;
    font-weight: 600;
    line-height: normal;
    color: lightcyan;
    text-align: left;
    background-color:ivory;
    word-spacing: 2em;
}

a {
    color: silver;
    text-decoration: none;
    text-transform: uppercase;
}

dl, ol, ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.card-text:last-child {
    margin-bottom: 0;
    font-family: serif;
    font-size: large;
    font-weight: normal;
    word-spacing: normal;
}

